<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe Amenities</title>
    {% include 'header.html' %}
</head>
<body>

<a href={{clicked_cafe.map_url}}><h3>Map_URL:{{clicked_cafe.map_url}}</h3><br></a>
<h3>Location:{{clicked_cafe.location}}</h3><br>
<h3>Seats:{{clicked_cafe.seats}}</h3><br>
<h3>Has_Toilets{{clicked_cafe.has_toilet}}</h3><br>
<h3>Has_wifi:{{clicked_cafe.has_wifi}}</h3><br>
<h3>Has_sockets:{{clicked_cafe.has_sockets}}</h3><br>
<h3>Can_take_calls:{{clicked_cafe.can_take_calls}}</h3><br>
<h3>Coffee_price:{{clicked_cafe.coffee_price}}</h3><br>
<a href={{clicked_cafe.img_url}}><h3>Img_URL:{{clicked_cafe.img_url}}</h3><br></a>


</body>
</html>